<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Learn and Understand AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        
        <!-- load angular via CDN -->
        <script src="http://code.angularjs.org/1.4.0/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>

          <div class="container">

            <div ng-controller="mainController">
                <h3>Movies</h3>
				<div>
					<label>Search: </label>
					<input type="text" ng-model="search" />
				</div>
				
				
				
                <ul>
                    <li ng-repeat="movie in movies | filter:search">
					
							{{ movie.ID}} - {{ movie.Title }} <a  href="{{movie.PosterPath}}">Poster</a>
                    </li>
                </ul>
            </div>
		</div>
    </body>
</html>